@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap");
* {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

* {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  * {
    font-size: calc(14px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  * {
    font-size: 27px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 26px;
}

@media screen and (min-width: 320px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(26px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 39px;
  }
}

::-moz-selection {
  color: #e4e4e4;
  background-color: #363030;
}

::selection {
  color: #e4e4e4;
  background-color: #363030;
}

html {
  background-image: url(../spaceBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main h1 {
  margin-top: -10vh;
  padding: 7vh;
  letter-spacing: .3rem;
  word-spacing: .5rem;
  color: transparent;
  -webkit-text-stroke: 2px #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .planetContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8vh;
  width: 45%;
  height: 82vh;
}

main .container .planetContainer .planetContainerText {
  width: 100%;
  color: #F2F2F2 !important;
  margin-top: -3vh;
  margin-bottom: 7vh;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.13);
}

main .container .planetContainer .planetContainerText .constructsCount, main .container .planetContainer .planetContainerText .constructsCountSecond {
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .planetContainer .planetContainerText .constructsCount p:first-child, main .container .planetContainer .planetContainerText .constructsCountSecond p:first-child {
  margin: 0 auto;
}

main .container .planetContainer .planetContainerText .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .planetContainer img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

main .container .planetContainer .contributor {
  margin-top: 12vh;
  padding: 5px 20px 6px 20px;
  border-radius: 7px;
  color: #e4e4e4;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

main .container .planetContainer .contributor {
  font-size: 9px;
}

@media screen and (min-width: 320px) {
  main .container .planetContainer .contributor {
    font-size: calc(9px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  main .container .planetContainer .contributor {
    font-size: 22px;
  }
}

main .container .planetContainer .contributor:hover {
  background-color: #e4e4e4;
  color: #1d1a1a;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

main .container .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  height: 100vh;
}

main .container .buttonContainer article {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 16,666%;
          flex: 1 16,666%;
  height: 100%;
  width: 99.85%;
}

main .container .buttonContainer article h2 {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #F2F2F2;
  -webkit-text-stroke: 1.2px #4C4343;
  font-family: 'Lato', sans-serif;
}

main .container .buttonContainer article p {
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10%;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: #00000080;
  color: #F2F2F2;
  border-radius: 7px;
  font-family: 'Fredoka One', cursive;
}

main .container .buttonContainer article p {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  main .container .buttonContainer article p {
    font-size: calc(18px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  main .container .buttonContainer article p {
    font-size: 31px;
  }
}

main .container .buttonContainer article button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16%;
  height: 7vh;
  line-height: 3vh;
  text-align: center;
  cursor: pointer;
  background-color: #0000008f;
  color: #F2F2F2;
  border: none;
  border-radius: 7px 0 0 0;
  -webkit-box-shadow: -1px -1px 250px white;
          box-shadow: -1px -1px 250px white;
  font-family: 'Fredoka One', cursive;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .container .buttonContainer article button {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  main .container .buttonContainer article button {
    font-size: calc(18px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  main .container .buttonContainer article button {
    font-size: 31px;
  }
}

main .container .buttonContainer article button:hover {
  background-color: #cccccc;
  color: #1d1a1a;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .container .buttonContainer article:nth-child(1) {
  border: 1px solid #1d1a1a;
}

main .container .buttonContainer article:nth-child(2) {
  border: 1px solid #1d1a1a;
}

main .container .buttonContainer article:nth-child(3) {
  border: 1px solid #1d1a1a;
}

main .container .buttonContainer article:nth-child(4) {
  border: 1px solid #363030;
}

main .container .buttonContainer article:nth-child(5) {
  border: 1px solid #4C4343;
}

main .container .buttonContainer article:nth-child(6) {
  border: 1px solid #4C4343;
}

.hidden {
  display: none !important;
}

.hubbleContainer {
  background-image: url(../hobble.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 65%;
}

.astonautContainer {
  background-image: url(../astronaut.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 75%;
}

.spaceCraftContainer {
  background-image: url(../space_comp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 45%;
}

.spaceShuttleContainer {
  background-image: url(../spaceship.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 47%;
}

.NASAContainer {
  background-image: url(../nasa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 53%;
}

.TonyStarkContainer {
  background-image: url(../ironman.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 47%;
}
/*# sourceMappingURL=style.css.map */