@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap");
* {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

* {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  * {
    font-size: calc(14px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  * {
    font-size: 27px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(24px + 13 * ((100vw - 320px) / 1030));
  }
}

@media screen and (min-width: 1350px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 37px;
  }
}

::-moz-selection {
  color: #e4e4e4;
  background-color: #363030;
}

::selection {
  color: #e4e4e4;
  background-color: #363030;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 50%;
}

header nav ul {
  width: 100%;
  line-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  text-transform: uppercase;
}

header nav ul li a {
  color: #1d1a1a;
}

main h1 {
  color: #363030;
  text-align: center;
  height: 2vh;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../spaceBackground.png);
}

main .container .planetContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8vh;
  width: 40%;
  height: 82vh;
}

main .container .planetContainer .planetContainerText {
  width: 50%;
  color: #F2F2F2 !important;
  margin: -7vh 2vw 7vh 0;
  margin-top: -7vh;
  margin-bottom: 7vh;
}

main .container .planetContainer .planetContainerText .constructsCount, main .container .planetContainer .planetContainerText .constructsCountSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .planetContainer .planetContainerText .constructsCount p:first-child, main .container .planetContainer .planetContainerText .constructsCountSecond p:first-child {
  margin: 0 auto;
}

main .container .planetContainer .planetContainerText .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .planetContainer img {
  width: 50%;
  height: auto;
}

main .container .buttonContainer {
  margin-top: 8vh;
  width: 60%;
  height: 82vh;
}
/*# sourceMappingURL=style.css.map */